@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Humanizer
@model BvInputModel;
@{
}
<div class="@Model.NameOf-wrapper">
    <div id="@Model.NameOf">
        <label for="@Model.NameOf">@Model.NameOf.Humanize()
            </label>
    </div>
    <div>
        <input class="input-@Model.NameOf" id="@Model.NameOf" type="text" name="@Model.Label" placeholder="@Model.NameOf.Humanize()" value="@Model.Val" />
    </div>
    <div class="error" id="@Model.NameOf-error">
        Error Message
    </div>
</div>





